<div class="bg-white shadow rounded overflow-hidden">
  {% if item.urlToImage %}
    <img src="{{ item.urlToImage }}" alt="{{ item.title }}" class="w-full h-45 object-cover" />
  {% endif %}
  <div class="p-4">
    <h3 class="font-bold text-lg mb-1">{{ item.title }}</h3>
    <p class="inline-block bg-red-600 text-white text-xs font-semibold px-3 py-1 rounded-full mt-2">
      Source: {{ item.source.name|default:"Unknown" }}
    </p>
    <p class="font-bold text-sm text-black-600 mt-2">
      Published on {{ item.published_at_ist }}
    </p>
    <p class="text-sm text-gray-800">{{ item.description|default:"No description." }}</p>
    <a href="{{ item.url }}" target="_blank" class="inline-block  text-center
                bg-white rounded shadow text-gray-100 font-semibold text-sm
                px-2 py-2 my-4 rounded hover:text-red-600   transition">
      Read full article →
    </a>
  </div>
</div>
