{% extends "news/base.html" %}
{% load static %}

{% block content %}

<div class="container mx-auto px-4 py-6 flex flex-col lg:flex-row gap-6 bg-white rounded shadow overflow-y-scroll">

  
  <!-- Main Content Area -->
  
  <div class="basis-full lg:basis-[65%]">

    <h2 class="text-2xl text-center font-bold mb-6 bg-white rounded shadow">Latest News</h2>

    <!-- Full-width First Article -->
    <div class="mb-6 fullwidth-carousel">
    {% for item in page_obj|slice:":5" %}
        <div>
            {% include "news/_article_cards.html" %}
        </div>
    {% endfor %}
</div>

  

    
    <!-- 2x2 Grid for Articles 2-5 -->
       <h2 class="text-2xl font-bold mb-6 bg-white rounded shadow p-4 flex justify-between items-center">
  <span>Business</span>
  <div class="space-x-2">
    <a href="#"><button id="politics-prev" class="px-3 py-1 bg-white rounded shadow hover:bg-red-700 ">&lsaquo;</button>
    <button id="politics-next" class="px-3 py-1 bg-white rounded shadow hover:bg-red-700 ">&rsaquo;</button></a>
  </div>
</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
      
      {% for item in page_obj|slice:"5:9" %}
        {% include "news/_article_cards.html" %}
      {% endfor %}
    </div>

    <!-- 3-column Grid for Articles 6+ -->
     <h2 class="text-2xl font-bold mb-6 bg-white rounded shadow p-4 flex justify-between items-center">
  <span>Politics</span>
  <div class="space-x-2">
    <a href="#"><button id="politics-prev" class="px-3 py-1 bg-white rounded shadow hover:bg-red-700 ">&lsaquo;</button>
    <button id="politics-next" class="px-3 py-1 bg-white rounded shadow hover:bg-red-700 ">&rsaquo;</button></a>
  </div>
</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for item in page_obj|slice:"9:" %}
        {% include "news/_article_cards.html" %}
      {% endfor %}
    </div>

  </div>

  <!-- Sidebar -->
 <aside class="basis-full lg:basis-[35%]">
     {% include "news/_sidebar.html" %}
   </aside>

</div>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function(){
    $('.fullwidth-carousel').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        prevArrow: '<button type="button" class="slick-prev"><span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 hover:bg-white/50"><i class="fa fa-angle-left text-white text-2xl"></i></span></button>',
        nextArrow: '<button type="button" class="slick-next"><span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 hover:bg-white/50"><i class="fa fa-angle-right text-white text-2xl"></i></span></button>',
        autoplay: true,
        autoplaySpeed: 5000,
        adaptiveHeight: true
    });
});
</script>
{% endblock %}
