<div class="flex justify-center mt-6 space-x-4">
  {% if page_obj.has_previous %}
    <a
      href="?page={{ page_obj.previous_page_number }}"
      class="border border-gray-300 px-4 py-2 text-base font-semibold hover:bg-red-700"
    >
      « Previous
    </a>
  {% else %}
    <span class="border border-gray-200 px-4 py-2 text-base font-semibold text-gray-400 cursor-not-allowed">
      « Previous
    </span>
  {% endif %}

  {% if page_obj.has_next %}
    <a
      href="?page={{ page_obj.next_page_number }}"
      class="border border-gray-300 px-4 py-2 text-base font-semibold hover:bg-red-700"
    >
      Next »
    </a>
  {% else %}
    <span class="border border-gray-200 px-4 py-2 text-base font-semibold text-gray-400 cursor-not-allowed">
      Next »
    </span>
  {% endif %}
</div>